html {
    background-color: #e2e2e2;
}

body {
    margin: 2em auto;
    max-width: 35em;

    background-color: #fff;
    border: 1px solid #ccc;
}

section {
    padding: 4em 1em;
    position: relative;

    border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
    border: 0;
}

div {
    position: absolute;
    right: 1em;
    top: 0;
}

.box {
    height: 100px;
    top: calc(50% - 50px);
    width: 200px;
    opacity: 0;
    overflow: hidden;
    background-color: limegreen;
    transition: all 250ms ease-in;
}

.js-box-hide {
    opacity: 1;
}

.diamond {
    height: 80px;
    right: 2em;
    opacity: 0;
    top: calc(50% - 40px);
    width: 80px;
    overflow: hidden;
    background-color: hotpink;
    transform: rotate(45deg);
    transition: all 250ms linear;
}

.js-diamond-move {
    right: 8em;
    opacity: 1;
}

.panel {
    width: 250px;
    top: 50%;
    overflow: hidden;
    background-color: yellow;
    transform: translateY(-50%); 
    color: darkgoldenrod;
    text-align: center;
    transition: all 50ms ease-out;
}

.js-panel-expand {
    max-height: 10em;
}

.panel h2 {
    margin: 0;
    padding: 3rem 0;
}

.circle {
    height: 100px;
    top: calc(50% - 50px);
    width: 100px;
    background-color: orange;
    border-radius: 50%;
}

@keyframes circle-bounce {  
    0% {
        left: 100px;
    }
    20% {
        top: 10px;
    }
    40% {
        bottom: 20px;
    }
    70% {  
        top: 20px; 
    } 
    80% {
        left: 10px;
    }
    100% {
        right: 100px;
    }
}

.js-circle-bounce {
    animation: circle-bounce 1s linear;
}

.list {
    bottom: 1em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 250px;

    border: 1px solid #ccc;
    overflow: hidden;
    overflow-y: auto;
}

.list li {
    padding: 0.5em;
    overflow: hidden;
    background-color: plum;
    border: 1px solid mediumpurple;

    color: mediumpurple;
}

.js-list-append {
    animation: all 250ms ease-in;
}